In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/homedirel/ML/DATA/NLP_DATA/The-Office-Lines-V4.csv")

In [5]:
df.head(2)

,season,episode,title,scene,speaker,line,Unnamed: 6
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...,NaN
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN

In [6]:
df["number_of_words"] = df["line"].str.strip().str.split(" ")

In [8]:
df["number_of_words"] = df["number_of_words"].apply(lambda x: len(x))

In [ ]:
df["speaker"]

,season,episode,title,scene,speaker,line,Unnamed: 6,number_of_words
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...,NaN,14
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN,9
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...,NaN,14
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah.",NaN,8
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done.",NaN,10
...,...,...,...,...,...,...,...,...
54621,9,24,Finale,8153,Creed,It all seems so very arbitrary. I applied for ...,NaN,56
54622,9,24,Finale,8154,Meredith,I just feel lucky that I got a chance to share...,NaN,41
54623,9,24,Finale,8155,Phyllis,I'm happy that this was all filmed so I can re...,NaN,31
54624,9,24,Finale,8156,Jim,I sold paper at this company for 12 years. My ...,NaN,46
54625,9,24,Finale,8157,Pam,I thought it was weird when you picked us to m...,NaN,46

In [10]:
dwight_lines = df[df['speaker'] == 'Dwight']

In [11]:
dwight_lines

,season,episode,title,scene,speaker,line,Unnamed: 6,number_of_words
16,1,1,Pilot,5,Dwight,Shall I play for you? Pa rum pump um pum I h...,NaN,22
21,1,1,Pilot,7,Dwight,Whassup!,NaN,1
23,1,1,Pilot,7,Dwight,Whassup.,NaN,1
85,1,1,Pilot,19,Dwight,What?,NaN,1
87,1,1,Pilot,19,Dwight,Just clearing my desk. I can't concentrate.,NaN,7
...,...,...,...,...,...,...,...,...
54582,9,24,Finale,8138,Dwight,"Aww, J, P and D. The Three Amigos. Ah, it warm...",NaN,43
54590,9,24,Finale,8140,Dwight,"No, don't say it. You're fired! You're both fi...",NaN,9
54592,9,24,Finale,8140,Dwight,Don't be an idiot. It's for the severance. The...,NaN,24
54595,9,24,Finale,8140,Dwight,"Woah. Right. For what, the art? The music? The...",NaN,30
54597,9,24,Finale,8141,Dwight,"Do I get along with my co-workers? Well, first...",NaN,100